<form [formGroup]="form" (ngSubmit)="onSubmit()" #formDir="ngForm">
    <ul class="tabs">
        <li [class.error]="hasErrorInTab(0)" [class.active]="currentTab === 0" (click)="currentTab = 0">Identificação</li>
        <li [class.error]="hasErrorInTab(1)" [class.active]="currentTab === 1" (click)="currentTab = 1">Endereço</li>
        <li [class.error]="hasErrorInTab(2)" [class.active]="currentTab === 2" (click)="currentTab = 2">Conta</li>
        <li [class.error]="hasErrorInTab(3)" [class.active]="currentTab === 3" (click)="currentTab = 3">Telefone</li>
    </ul>

    <div *ngIf="currentTab === 0" formGroupName="identificacao">
        <h3>Identificação</h3>
        <div>
            <label for="nome">Nome da Mantenedora:</label>
            <input type="text" name="nome" id="nome" formControlName="nome">
            <div *ngIf="form.get('identificacao.nome')?.errors?.['required'] && form.touched || form.get('identificacao.nome')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
        <div>
            <label for="codigoRegiao">Codígo da Região:</label>
            <input type="text" name="codigoRegiao" id="codigoRegiao" formControlName="codigoRegiao">
            <div *ngIf="form.get('identificacao.codigoRegiao')?.errors?.['required'] && form.touched || form.get('identificacao.codigoRegiao')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
    </div>

    <div *ngIf="currentTab === 1" formGroupName="endereco">
        <h3>Endereço</h3>
        <div>
            <label for="rua">Rua:</label>
            <input id="rua" name="rua" formControlName="rua">
            <div *ngIf="form.get('endereco.rua')?.errors?.['required'] && form.touched || form.get('endereco.rua')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
        <div>
            <label for="cidade">Cidade:</label>
            <input id="cidade" name="cidade" formControlName="cidade">
            <div *ngIf="form.get('endereco.cidade')?.errors?.['required'] && form.touched || form.get('endereco.cidade')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input id="estado" name="estado" formControlName="estado">
            <div *ngIf="form.get('endereco.estado')?.errors?.['required'] && form.touched || form.get('endereco.estado')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
        <div>
            <label for="cep">CEP:</label>
            <input id="cep" name="cep" formControlName="cep">
            <div *ngIf="form.get('endereco.cep')?.errors?.['required'] && form.touched || form.get('endereco.cep')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
    </div>

    <div *ngIf="currentTab === 2" formGroupName="conta">
        <h3>Conta Bancária</h3>
        <div>
            <label for="agencia">Agência:</label>
            <input type="text" name="agencia" id="agencia" formControlName="agencia">
            <div *ngIf="form.get('conta.agencia')?.errors?.['required'] && form.touched || form.get('conta.agencia')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
        <div>
            <label for="numero">Nº Conta:</label>
            <input type="text" name="numero" id="numero" formControlName="numero">
            <div *ngIf="form.get('conta.numero')?.errors?.['required'] && form.touched || form.get('conta.numero')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
        <div>
            <label for="tipoConta">Tipo Conta:</label>
            <input type="text" name="tipoConta" id="tipoConta" formControlName="tipoConta">
            <div *ngIf="form.get('conta.tipoConta')?.errors?.['required'] && form.touched || form.get('conta.tipoConta')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
        <div>
            <label for="nomeBanco">Nome Banco:</label>
            <input type="text" name="nomeBanco" id="nomeBanco" formControlName="nomeBanco">
            <div *ngIf="form.get('conta.nomeBanco')?.errors?.['required'] && form.touched || form.get('conta.nomeBanco')?.errors?.['required'] && formDir.submitted">
                <span>Campo é obrigatório!</span>
            </div>
        </div>
    </div>

    <div *ngIf="currentTab === 3" formArrayName="telefone">
        <h3>Telefone:</h3>
        <table>
            <thead>
                <tr>
                    <th>DDD</th>
                    <th>Número</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tel of telefone.controls; let i = index" [formGroupName]="i">
                    <td>
                        <input type="text" formControlName="ddd">
                    </td>
                    <td>
                        <input type="text" formControlName="numeroTelefone">
                    </td>
                    <td>
                        <button type="button" (click)="removeTelefone(i)">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" (click)="addTelefone()">Adicionar</button>
    </div>

    <div class="buttons">
        <button type="button" (click)="prevTab()" [disabled]="currentTab === 0">Anterior</button>
        <button type="button" (click)="nextTab()" [disabled]="!isCurrentTabValid()" *ngIf="currentTab < 3">Próximo</button>
        <button type="submit" (click)="onSubmit()" [disabled]="form.invalid">Salvar</button>
    </div>
</form>